/* styles.css */
.playlistTrack {
    display: flex;
    flex-direction: row;
}
li{
    display: flex;
}

.playlist-list {
    display: flex;
    flex-direction: column;
    background-color: #f5cbcb;
    padding: 0;
    overflow: scroll;
    scrollbar-color: red orange;
    scrollbar-width: thin;
    width: 33%;
    list-style: none;
    height:  250px;
    text-align: center;
}
.playlist-list>li {
    display: flex;
    justify-content: space-between;
}

.playlist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;  
}
.playlist {
    width: 40%;
}
.user-tracks {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    padding: 20px;
    overflow: scroll;
    scrollbar-width: thin;
    width: 30%;
    height: 220px;
    border: 10px;
    list-style: none;
    text-align: center;
}
.user-tracks>li {
    display: flex;
    justify-content: space-between;

}
.group-test {
    display: flex;
    flex-direction: row;
}
.genre-list{
 display: flex;
 flex-direction: column;
 background-color: #f5cbcb;
 padding: 20px;
 overflow: scroll;
 width: 40%;
 height: 220px;
 border: 10px;
 list-style: none;
 margin-right: 30%;
}
.genre-list>li{
    display: flex;
    justify-content: space-between;
}
.artist-list{
    display: flex;
    flex-direction: column;
    background-color: #f5cbcb;
    padding: 20px;
    overflow: scroll;
    width: 40%;
    height: 220px;
    border: 10px;
    list-style: none;
   }
   .songs-list{
    display: flex;
    flex-direction: column;
    background-color: #f5cbcb;
    padding: 20px;
    overflow: scroll;
    width: 40%;
    height: 220px;
    border: 10px;
    list-style: none;
   }
   div#group-test{
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding-left: 10%;
    
   }
   .genre-section {
    width: 40%;
   }
   .artist-section {
    width: 40%
   }
   .songs-section {
    width: 40%;
   }